.car_img{
  padding-left: 15rem;
  padding-right: 15rem;
}

body{
  background-image: url("../res/ovbg.0977e9d981aa.jpg");
  background-size: cover;
}

h2{
  color:white;
}

#jumbo{
  background-color:rgba(54, 53, 65, 0.534);
}

.nav_button{
  color:white;
}