{%load static%}
<!DOCTYPE html>
<html>

<head>
  <title>GenSim Utility: About Us</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{%static 'assets/css/aboutus.css'%}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{%static 'icons/apple-touch-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{%static 'icons/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{%static 'icons/favicon-16x16.png' %}" />
  <link rel="manifest" href="{%static 'icons/site.webmanifest' %}" />
</head>

<body>
  <!-- Header -->
  <header id="header" class="alt">
    <div class="logo"><a href="{%url 'home' %}">GenSim Utility</a></div>
    <a href="#menu" id="fmenu">Menu</a>
  </header>

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="{%url 'home' %}">Home</a></li>
      <li><a href="{%url 'admin:login' %}">Admin</a></li>
      <li><a href="{% url 'overview' %}">Overview</a></li>
      <li><a href="{% url 'dataset' %}">Similarity Generation</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
    </ul>
  </nav>

  <!-- Banner -->
  <section class="banner half">
    <article>
      <img src="{%static 'images/dtbg.jpg'%}" />
      <div class="inner">
        <header>
          <h2 id="ovheader">About Us</h2>
        </header>
      </div>
    </article>
  </section>

  <!--about us main 1-->
  {% for member in members %}
  {% if forloop.counter|divisibleby:2 %}
  <section class="flex-container">
    <div class="img-wrap">
      <img src="{%static 'images/profile_pics/'|add:member.profile_pic%}" />
    </div>
    <div class="content">
      <header class="major">
        <h3>{{member.name}}</h3>
      </header>
      <p>
        {{member.description}}
      </p>
      <footer class="pcentre">
        Email:{{member.email_addr}}
      </footer>
    </div>
  </section>
  <!--about us main 2-->
  {% else %}
  <section class="flex-container">
    <div class="content">
      <header class="major">
        <h3>{{member.name}}</h3>
      </header>
      <p>
        {{member.description}}
      </p>
      <footer class="pcentre">
        Email:{{member.email_addr}}
      </footer>
    </div>
    <div class="img-wrap">
      <img src="{%static 'images/profile_pics/'|add:member.profile_pic%}" />
    </div>
  </section>
  {% endif %}
  {% endfor %}
  <!--about us main 3-->
  
  <footer id="footer">
    <div class="container">
      <ul class="icons">
        <li>
          <a href="https://twitter.com/intent/tweet?text=Hello&url=http://127.0.0.1:8000/&via=smcri" class="icon fa-twitter"><span class="label">Twitter</span></a>
        </li>
        <li>
          <a href="http://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/" class="icon fa-facebook"><span class="label">Facebook</span></a>
        </li>
        <li>
          <a href="https://www.instagram.com/p/CMgrAAZjG2d/" class="icon fa-instagram"><span class="label">Instagram</span></a>
        </li>
        <li>
          <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.website.com." class="icon fa-envelope-o"><span class="label">Email</span></a>
        </li>
      </ul>
    </div>
    <div class="copyright">Project AOW</div>
  </footer>
  <!-- Scripts -->
  <script src="{%static 'assets/js/jquery.min.js' %}"></script>
  <script src="{%static 'assets/js/jquery.scrollex.min.js' %}"></script>
  <script src="{%static 'assets/js/skel.min.js' %}"></script>
  <script src="{%static 'assets/js/util.js' %}"></script>
  <script src="{%static 'assets/js/main.js' %}"></script>
</body>

</html>