<!DOCTYPE html>
<html>

<head>
  <title>GenSim Utility: About Us</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/aboutus.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
  <link rel="manifest" href="icons/site.webmanifest" />
</head>

<body>
  <!-- Header -->
  <header id="header" class="alt">
    <div class="logo"><a href="home.html">GenSim Utility</a></div>
    <a href="#menu">Menu</a>
  </header>

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="home.html">Home</a></li>
      <li><a href="overview.html">Overview</a></li>
      <li><a href="simgen.html">Similarity Generation</a></li>
      <li><a href="aboutus.html">About Us</a></li>
    </ul>
  </nav>

  <!-- Banner -->
  <section class="banner half">
    <article>
      <img src="images/dtbg.jpg" alt="" />
      <div class="inner">
        <header>
          <h3><b></b></h3>
          <h2 id="ovheader">About Us</h2>
        </header>
      </div>
    </article>
  </section>

  <!--about us main 1-->
  <section class="flex-container">
    <div class="img-wrap">
      <img src="images/photo.jpg" />
    </div>
    <div class="content">
      <header class="major">
        <h3>Aadharsh Roshan</h3>
      </header>
      <p>
        Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna
        sed nunc rhoncus condimentum sem. In efficitur ligula tate urna.
        Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor.
        Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis
        tempus.
      </p>
      <footer class="pcentre">
        Email:demo@gensim.com
      </footer>
    </div>
  </section>
  <!--about us main 2-->
  <section class="flex-container">
    <div class="content">
      <header class="major">
        <h3>Ayush Baranwal</h3>
      </header>
      <p>
        Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna
        sed nunc rhoncus condimentum sem. In efficitur ligula tate urna.
        Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor.
        Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis
        tempus.
      </p>
      <footer class="pcentre">
        Email:demo@gensim.com
      </footer>
    </div>
    <div class="img-wrap">
      <img src="images/photo.jpg" />
    </div>
  </section>
  <!--about us main 3-->
  <section class="flex-container">
    <div class="img-wrap">
      <img src="images/photo.jpg" />
    </div>
    <div class="content">
      <header class="major">
        <h3>Sankalp Rajendran</h3>
      </header>
      <p>
        Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna
        sed nunc rhoncus condimentum sem. In efficitur ligula tate urna.
        Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor.
        Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis
        tempus.
      </p>
      <footer class="pcentre">
        Email:demo@gensim.com
      </footer>
    </div>
  </section>
  <!--about us main 4-->
  <section class="flex-container">
    <div class="content">
      <header class="major">
        <h3>Sahil Sharma</h3>
      </header>
      <p>
        Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna
        sed nunc rhoncus condimentum sem. In efficitur ligula tate urna.
        Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor.
        Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis
        tempus.
      </p>
      <footer class="pcentre">
        Email:demo@gensim.com
      </footer>
    </div>
    <div class="img-wrap">
      <img src="images/photo.jpg" />
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <ul class="icons">
        <li>
          <a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a>
        </li>
        <li>
          <a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
        </li>
        <li>
          <a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a>
        </li>
        <li>
          <a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a>
        </li>
      </ul>
    </div>
    <div class="copyright">Project AOW</div>
  </footer>
  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>