<!DOCTYPE html>
<html>

<head>
  <title>GenSim: Similarity Generation</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/simgen.css" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="manifest" href="icons/site.webmanifest">
</head>

<body>

  <!-- Header -->
  <header id="header" class="alt">
    <div class="logo"><a href="home.html">GenSim Utility</a></div>
    <a href="#menu">Menu</a>
  </header>

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="home.html">Home</a></li>
      <li><a href="overview.html">Overview</a></li>
      <li><a href="simgen.html">Similarity Generation</a></li>
      <li><a href="aboutus.html">About Us</a></li>
    </ul>
  </nav>

  <!-- Banner -->
  <section class="banner half">
    <article>
      <img src="images/dtbg.jpg" alt="" />
      <div class="inner">
        <header>
          <h3><b>Similarity Generation</b></h3>
          <h2 id="ovheader">Choose Datasets</h2>
        </header>
      </div>
    </article>
  </section>

  <section id="outerbox" class="flex-container">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">Flex item 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nemo ipsum perferendis quos! Illum, voluptatibus vitae similique explicabo laudantium minima, nesciunt est ut repellat ad consequatur quia repudiandae maiores a.</div>
      <div class="d-flex flex-row">Flex item 2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim sunt sint dolor, error deserunt repellat nisi corporis illo rem eveniet necessitatibus dolores sapiente quaerat numquam consequatur harum repudiandae provident facilis!</div>
    </div>
  </section>



  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
      </ul>
    </div>
    <div class="copyright">
      Project AOW
    </div>
  </footer>
  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>