{% load static %}<!DOCTYPE html>
<html>
  <head>
    <title>GenSim: Similarity Generation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{%static 'assets/css/simgen.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'icons/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{%static 'icons/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
  </head>
  <body>

    <!-- Header -->
      <header id="header" class="alt">
        <div class="logo"><a href="{% url 'home' %}">GenSim Utility</a></div>
        <a href="#menu">Menu</a>
      </header>
    
    <!-- Nav -->
      <nav id="menu">
        <ul class="links">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'overview' %}">Overview</a></li>
          <li><a href="{% url 'dataset' %}">Similarity Generation</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
        </ul>
      </nav>

    <!-- Banner -->
    <section class="banner half">
      <article>
        <img src="images/dtbg.jpg" alt="" />
        <div class="inner">
          <header>
            <h3><b>Similarity Generation</b></h3>
            <h2 id="ovheader">Choose Datasets</h2>
          </header>
        </div>
      </article>
    </section>

    <section id="one" class="wrapper style2">
      <div id="b" class="inner box hidden">
    <div class="row">
      <div class="col-lg-2">
        <h3>Choose Dataset #1</h3>
      </div>
      <div class="col-lg-2">
        <h3>Choose Dataset #2</h3>
      </div>
    </div>
    </div>
    </section>

    

    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
      </div>
      <div class="copyright">
        Project AOW
      </div>
    </footer>
    <!-- Scripts -->
    <script src="{%static 'assets/js/jquery.min.js' %}"></script>
    <script src="{%static 'assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{%static 'assets/js/skel.min.js' %}"></script>
    <script src="{%static 'assets/js/util.js' %}"></script>
    <script src="{%static 'assets/js/main.js' %}"></script>

    </body>
    </html>