label {
    display: block;
    font: 2rem 'Fira Sans', sans-serif;
  }
  
  input,
  label {
    margin: 10px ;
  }
  .url{
    max-width:25%;
  }
  #output {
  
    background-color: beige;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #dataset {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  #dataset_body{
    background-image: url('../res/dtbg.jpg');
    background-size: cover;
  }
  .dropdown-item {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .div2{
    margin:10px;
    color:white;
  }
  
  .url_label{
    color:white;
  }
  
  img{
    padding: 10px;
    border: 2px;
    border-color: black;
  }
  body{
    padding-bottom: 50px;
  }
  