#output {

  background-color: beige;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#dataset {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#visual_body{
  background-image: url('../res/ovbg.jpg');
  background-size: cover;
}
.dropdown-item {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.div2{
  margin:10px;
}

img{
  padding: 10px;
  border: 2px;
  border-color: black;
}
body{
  padding-bottom: 50px;
}